<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

     <title>Assignment 10th October 2017-Ismail Moosa</title>
    <script src='lib/angular.js' ></script>
    <script src='lib/angular-route.js'></script>
    <!-- got local js file to work but the routing did not want to work with both versions 1.2.0 and 1.6.0 -->
    <link rel="stylesheet" type="text/css" href="css/todolist.css">

  </head>
  <body ng-app="myAPP" ng-controller="todoCtrl">
      <div>
          <div id="navigation">
              <a href="#/home">Home</a>
              <a href="#/!about">About</a>
              <a href="#/contact">Contact</a>
              <br>
          </div>
          <div id="container">
         <div ng-view></div>
       </div>
         <br> 
      </div>
      <!-- form to add to list-->
      <form ng-submit="todoAdd()">
          <input type="text" ng-model="Name" size="30" placeholder="Name">
          <br>
          <input type="text" ng-model="Descr" size="30" placeholder="Description">
          <br>
          <input type="submit" value="Add New">
      </form>
      <br>
    <!--ng-repeat function instead of adding on each line-->
      <div ng-repeat="y in todoList">
          <input type="checkbox" ng-model="y.done">
          {{y.Name}}, {{y.Descr}}
      </div>
      <br>
      

      <p><button ng-click="remove()">Delete</button></p>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='modules/HomeController.js'></script>
    <script type="text/javascript" src='modules/AboutController.js'></script>
    <script type="text/javascript" src='modules/ContactController.js'></script>
  </body>
</html>

